/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* layouts */
body {
  display: grid;

  grid-template-columns: 10% 80% 10%;
}

nav, footer {
  grid-column: 1/4;
}

main {
  grid-column: 2/3;
}

/* nav & footer */
nav ul, footer ul {
  display: flex;
  margin: 0 auto;
}

nav li, footer ul {
  margin-right: 2em;
}

/* White Space */
nav, footer {
  padding: 2.5% 10% 2.5% 10%;
}

/* Navigation */
nav ul, footer ul {
  list-style-type: none;
}

nav a, footer a {
  text-decoration: none;
}

/* Color scheme & borders */
body {
  color: white;
}
nav, footer, main {
  background-color: #444444;
}

nav a, footer a {
    color: #ffffff;
}

.selected, a:hover {
    color: #ff0000;
}
